.emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--gray-400);
    padding: 4rem 0;
}

.emptyList img {
    height: 3.5rem;
}

.emptyList strong {
    margin-top: 1rem;
}

