.taskWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 2rem;

    justify-content: space-between;
}


.taskCreated strong {
    color: var(--blue);
    font-size: 14px;
}

.taskCreated span {
    color: var(--white);
    background: var(--gray-400);
    padding: 0.24mentrem 0.76rem;
    border-radius: 10rem;
    margin-left: 0.5rem;
    font-size: 14px;
    height: 1rem;
}

.taskDone strong {
    color: var(--purple);
    font-size: 14px;
}

.taskDone span {
    color: var(--white);
    background: var(--gray-400);
    padding: 0.24mentrem 0.76rem;
    border-radius: 10rem;
    margin-left: 0.5rem;
    font-size: 14px;
    height: 1rem;
}